<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Rol</title>
</head>
<body>
<h1>Editar Rol</h1>
<form th:action="@{/roles/actualizar/{id}(id=${rol.rol_id})}" th:object="${rol}" method="post">
    <label for="nombre_rol">Nombre del Rol:</label>
    <input type="text" id="nombre_rol" th:field="*{nombrerol}" required/><br/>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" th:field="*{descripcion}" required/><br/>

<!-- Mensaje de error
    <label for="fecha_creacion">Fecha de Creación:</label>
    <input type="date" id="fecha_creacion" th:field="*{fecha_creacion}" required/><br/>
-->
    <button type="submit">Actualizar Rol</button>
</form>

<a href="/roles">Volver a la lista de roles</a>
</body>
</html>