<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
</head>
<body>
<h1>Editar Usuario</h1>
<form th:action="@{/usuarios/actualizar/{id}(id=${usuario.usuario_id})}" th:object="${usuarios}" method="post">
    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" th:field="*{nombres}" required/><br/>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" th:field="*{apellidos}" required/><br/>

    <label for="dni_ce">DNI/CE:</label>
    <input type="text" id="dni_ce" th:field="*{dni_ce}" required/><br/>

    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fecha_nacimiento" th:field="*{fecha_nacimiento}" required/><br/>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" th:field="*{correo}" required/><br/>

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" th:field="*{direccion}" required/><br/>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" th:field="*{password}" required/><br/>

    <label for="fecha_registro">Fecha de Registro:</label>
    <input type="date" id="fecha_registro" th:field="*{fecha_registro}" required/><br/>

    <label for="fecha_baja">Fecha de Baja:</label>
    <input type="date" id="fecha_baja" th:field="*{fecha_baja}"/><br/> <!-- Puede ser nulo -->

    <label for="rol">Rol:</label>
    <select id="rol" th:field="*{rol}" required>
        <option value="" disabled selected>Seleccione un rol</option>
        <!-- Asumiendo que tienes una lista de roles en el modelo -->
        <option th:each="rol : ${roles}" th:value="${rol.rol_id}" th:text="${rol.nombre_rol}"></option>
    </select><br/>

    <button type="submit">Actualizar Usuario</button>
</form>

<a href="/usuarios">Volver a la lista de usuarios</a>
</body>
</html>