<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<a href="/usuarios/nuevo">Crear Nuevo Usuario</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>DNI/CE</th>
        <th>Fecha de Nacimiento</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Fecha de Registro</th>
        <th>Fecha de Baja</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.usuario_id}"></td>
        <td th:text="${usuario.nombres}"></td>
        <td th:text="${usuario.apellidos}"></td>
        <td th:text="${usuario.dni_ce}"></td>
        <td th:text="${#dates.format(usuario.fecha_nacimiento, 'yyyy-MM-dd')}"></td> <!-- Formato de fecha -->
        <td th:text="${usuario.correo}"></td>
        <td th:text="${usuario.direccion}"></td>
        <td th:text="${#dates.format(usuario.fecha_registro, 'yyyy-MM-dd')}"></td> <!-- Formato de fecha -->
        <td th:text="${usuario.fecha_baja != null ? #dates.format(usuario.fecha_baja, 'yyyy-MM-dd') : 'No aplica'}"></td> <!-- Formato de fecha -->
        <td th:text="${usuario.rol.nombre_rol}"></td> <!-- Asumiendo que Rol tiene un atributo nombre_rol -->
        <td>
            <a th:href="@{/usuarios/editar/{id}(id=${usuario.usuario_id})}">Editar</a>
            <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.usuario_id})}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>